@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

h2 {
  font-size: 1.3rem;
}

main {
}

button {
  cursor: pointer;
  transition: border-color 0.25s;
}

.answer-text p,
ol {
  padding: 10px 0;
}

.answer-text ol {
  list-style-type: decimal;
}
.answer-text ul {
  list-style-type: square;
  padding: 10px 0;
}

.answer-text li {
  padding: 0 0 0 20px;
}

.analysis-page button {
  padding: 2px 10px;
  border-radius: 1px;
}

.answer-stream p,
.answer-stream li {
  padding: 10px 0;
}

.answer-stream ol {
  list-style-type: decimal;
}

.ai-markdown p {
  padding: 10px 0;
}

.ai-markdown ul {
  list-style-type: square;
  padding: 20px;
}

.ai-markdown li {
  padding: 0 0 0 20px;
}
